<!DOCTYPE html>
<html>
<head>
    <title>Authentification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
    
</head>
<body>
    <div class="container"></div>
    <h1>Authentification</h1>
    <form action="/login" method="post">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Se connecter</button>
    </form>

    <a href="{{ url_for('signup') }}">Créer un compte</a>

    <div class="alert">
      {{ msgAlert }}
    </div>


    <br>

</body>
</html>
