<!DOCTYPE html>
<html>
<head>
    <title>Liste des équipements</title>

    <style>
    #toggleButton {
      background-color: #e7e7e7; /* Gray */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
    }

    .alert {
        color: #ff0000;
    }
    </style>
</head>
<body>
    <h1>Liste des équipements</h1>

    <!-- Afficher la liste des équipements -->
    <ul>
        {% for equipment in equipment_list %}
            <li>
                {{ equipment.Nom }} ({{ equipment.AdresseIP }})
                <form action="/remove_equipment" method="post" style="display: inline;">
                    <input type="hidden" name="nom" value="{{ equipment.Nom }}">
                    <input type="hidden" name="adresse_ip" value="{{ equipment.AdresseIP }}">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Ajouter un équipement</h2>
    <form action="/add_equipment" method="post">
        <label for="nom">Nom:</label>
        <input type="text" name="nom" required><br>

        <label for="adresse_ip">Adresse IP:</label>
		<input type="text" name="adresse_ip" required pattern="^(\d{1,3}\.){3}\d{1,3}$">

        <label for="port">Port:</label>
        <input type="text" name="port" required><br>

        <label for="communaute">Communauté:</label>
        <input type="text" name="communaute" required><br>

		<label for="oids">OIDs (séparés par des virgules):</label>
		<input type="text" name="oid" pattern="^(\d+(\.\d+)*)?$"><br>

        <button type="submit">Ajouter</button>
    </form>

    {% if msgAddEquipement %}
    <div class="alert">
        {{ msgAddEquipement }}
    </div>
    {% endif %}


	<h2>Sélectionnez un équipement</h2>
<form action="/get_equipment_info" method="post">
    <label for="selected_equipment">Équipement:</label>
    <select name="selected_equipment" required>
        {% for equipment in equipment_list %}
            <option value="{{ equipment.AdresseIP }}">{{ equipment.Nom }} ({{ equipment.AdresseIP }})</option>
        {% endfor %}
    </select>
    <button type="submit">Afficher les informations</button>
</form>

<button id="voir-logs">Voir les logs</button>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sélectionnez le bouton "Voir les logs" par son ID
        var voirLogsButton = document.getElementById('voir-logs');

        // Ajoutez un gestionnaire d'événement pour le clic sur le bouton
        voirLogsButton.addEventListener('click', function () {
            // Redirigez l'utilisateur vers une page où les logs sont affichés
            window.location.href = '/voir_logs';
        });
    });
</script>




<br>
	<button id="toggleButton" onclick="toggleState()">Lancer le Controlleur</button>
<br>

{% if session.logged_in %}
    <a href="{{ url_for('logout') }}">Déconnexion</a>
{% endif %}

<br>

{{ session.logged_in }}



<script>
      var isControllerRunning = false; // Nouvelle variable pour stocker l'état du bouton

      function toggleState() {
          var button = document.getElementById("toggleButton");

          if (isControllerRunning) {
            button.style.backgroundColor = "#4CAF50"; /* Green */
            button.innerHTML = "Play Controlleur";
            isControllerRunning = false;
            sendToggleRequest(false);
          } else {
            button.style.backgroundColor = "#f44336"; /* Red */
            button.innerHTML = "Stop Controlleur";
            isControllerRunning = true;
            sendToggleRequest(true);
          }
      }

      function sendToggleRequest(newState) {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/toggle", true);
          xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          xhr.send(JSON.stringify({"newState": newState}));
      }
  </script>

</body>
</html>
