<!DOCTYPE html>
<html>
<head>
    <title>APP SNMP - ACCUEIL</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <style>

    /* Style des boutons */
#voir-logs {
    background-color: #008CBA; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Suppression de la bordure */
    padding: 14px 16px; /* Espacement autour du bouton */
    cursor: pointer; /* Curseur de la souris en forme de main */
    float: left; /* Alignement du bouton à gauche */
}

    </style>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="main">
        <h2>Ajouter un équipement</h2>
        <form action="/add_equipment" method="post">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" required><br>

            <label for="adresse_ip">Adresse IP:</label>
            <input type="text" name="adresse_ip" required pattern="^(\d{1,3}\.){3}\d{1,3}$">

            <label for="port">Port:</label>
            <input type="text" name="port" required><br>

            <label for="communaute">Communauté:</label>
            <input type="text" name="communaute" required><br>

            <label for="oids">OIDs (séparés par des virgules):</label>
            <input type="text" name="oid" pattern="^(\d+(\.\d+)*)?$"><br>

            <button type="submit">Ajouter</button>
        </form>

        {% if msgAddEquipement %}
        <div class="alert">
            {{ msgAddEquipement }}
        </div>
        {% endif %}

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Sélectionnez le bouton "Voir les logs" par son ID
                var voirLogsButton = document.getElementById('voir-logs');

                // Ajoutez un gestionnaire d'événement pour le clic sur le bouton
                voirLogsButton.addEventListener('click', function () {
                    // Redirigez l'utilisateur vers une page où les logs sont affichés
                    window.location.href = '/voir_logs';
                });
            });
        </script>


        {{ session.logged_in }}
    </div>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='toggle.js') }}"></script>


</body>
</html>
