<!DOCTYPE html>
<html>
<head>
    <!-- ... autres balises d'en-tête ... -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="main">
        <h1>Logs</h1>
    
        <!-- Affichez les logs dans une balise <pre> -->
        <pre>{{ logs }}</pre>
    </div>
    
    <!-- ... autres éléments de la page ... -->
    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='toggle.js') }}"></script>

</body>
</html>
