body {
    font-family: Arial, sans-serif;
}

/* Style de la barre de navigation */
.navbar {
    background-color: #333; /* Couleur de fond de la barre */
    overflow: hidden;
}

/* Style des liens dans la barre de navigation */
.navbar a {
    float: left; /* Alignement des liens à gauche */
    display: block; /* Affichage en bloc pour occuper toute la largeur */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 14px 16px; /* Espacement autour du texte */
    text-decoration: none; /* Suppression du soulignement des liens */
}

.navbar a:hover {
    background-color: #757575;
    color: #222222;
}

.navbar a.voir-logs {
    background-color: #008CBA; /* Couleur de fond du bouton */
}

.navbar a.toggleButton {
    background-color: #e7e7e7; /* Gray */
    float: right; /* Alignement du bouton de déconnexion à droite */
    color: #333333;
}

/* Style du bouton de déconnexion */
.navbar a.logout-button {
    float: right; /* Alignement du bouton de déconnexion à droite */
}

/* Style du bouton de déconnexion au survol */
.navbar a.logout-button {
    background-color: #d9534f; /* Changement de couleur au survol */
}
.navbar a.home-button {
    /* Styles spécifiques au bouton "Accueil" */
    background-color: #4CAF50; /* Couleur de fond du bouton "Accueil" */
    /* Autres styles de mise en forme */
}

.alert {
    color: #ff0000;
}